{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      {% comment %}<a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>{% endcomment %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[page.lang].pagination_previous | default: "Previous" }}</a>
    {% else %}
      {% comment %}<a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>{% endcomment %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[page.lang].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      {% comment %}<a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>{% endcomment %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[page.lang].pagination_next | default: "Next" }}</a>
    {% else %}
      {% comment %}<a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>{% endcomment %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[page.lang].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}