/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$background-color: #f4f4f4; //#f7f7f7 !default;