/* ==========================================================================
   Default skin
   ========================================================================== */

// Intentionally left blank
$background-color: #fff; //#f7f7f7 !default;