---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- This section will show the year number and next to it the number of posts 
  within the 'de' collection in that year-->
<!-- <ul class="taxonomy__index">
  {% assign postsInYear = site.de | where_exp: "item", "item.hidden != true" | group_by_exp: 'de', 'de.date | date: "%Y"' %}
  {% for year in postsInYear %}
    <li>
      <a href="#{{ year.name }}">
        <strong>{{ year.name }}</strong> <span class="taxonomy__count">{{ year.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul> -->


<!-- This section creates the list of posts within 'de' collection grouped by post year-->
{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.de | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <!-- Commented the next line to remove the year number from showing as subtitle -->
    <!-- <h2 class="archive__subtitle">{{ year.name }}</h2> -->
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>

  </section>
  {% endfor %}

<!-- List of articles that have the same language as the language defined for the collection in _config.yml under dfaults section-->
<!-- {% assign posts=site.de | where:"lang", page.lang %}
<ul>
{% for post in posts %}
    <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul> -->

<!-- Listing pagess and posts according to custom 'lang' variable's value in their front matter -->
<!-- {% assign posts=site.en | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}" />
{% endfor %}
{% assign pages=site.en | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
{% endfor %} -->

<!--  -->

<!-- I modified the above section to sort the posts, filtered by the desired 'lang' variable value, according to their publishing year and including archive-single.html-->
{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign posts=site.de | where_exp: "item", "item.hidden != true" | where:"lang", page.lang | group_by_exp: 'post', 'post.date | date: "%Y"' %}

{% for year in posts %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
  </section>
{% endfor %}
<!-- This section is just for knowledge. It lists the languages of the pages in the directory, here in the 'de' directory -->
<!-- <ul>
  {% assign posts=site.de | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %}
    <li>
      <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
    </li>
  {% endfor %}
</ul> -->



  