/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-top: 1em;
  margin-bottom: 2em;
  

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-right: $right-sidebar-width;
  }
}

/* This section is for defining the style of an archive item (the boxes) */
.archive__item {
  position: relative;
  /* mine */
  margin-bottom: 2em;  // space between each post box
  //border-bottom: 1px solid #e0e0e0; // optional, subtle separation
  
  background-color: #fafafa; /* #f4f4f4; is darker grey #fff; is white */
  //padding: 1em;         // optional, if you want inner padding
  padding: 1em 1em 1px 1em; //top right bottom left
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.45);
  //box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35); //0 4px 10px rgba(0,0,0,0.05), 0 0 10px rgba(0,0,0,0.1);
  // border-style: solid;
  // border-color: red;
  // height: 400px;
  // overflow: hidden;

  /* Added to lift the box (archive item)  (to give a 3D “raised card” effect) when user hovers over the it
   transition: makes the shadow and color animate smoothly.
   box-shadow: expands and softens the shadow when hovered.
   transform: translateY(-3px) gives a little “lift” motion (optional but looks great).*/
  transition: box-shadow 0.3s ease, background-color 0.3s ease, transform 0.3s ease; // smooth effect
    
  &:hover {
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); // bigger, softer shadow. box-shadow: expands and softens the shadow when hovered
    transform: translateY(-3px); // optional: lift effect. transform: translateY(-3px) gives a little “lift” motion (optional but looks great)
  }
/* end of mine */

  a {
    position: relative;
    z-index: 10;
  }

  a[rel="permalink"] {
    position: static;
  }
}


.archive__subtitle {
  margin: 1.414em 0 0.5em;
  padding-bottom: 0.5em;
  font-size: $type-size-1; /* $type-size-2; */ /*the font size for the archive subtitle the title for example "Recent Posts" */
  color: $muted-text-color;
  border-bottom: 1px solid $border-color;
  font-family: $sans-serif;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  // font-weight: bold; // not necessary here
  margin-bottom: 0.25em;  /* It was 0.35em; distance between the title of the item and the line below it (date and time length for reading) */
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $type-size-5; /* equals 1em, I added this to define font size of the title of a post in list of posts. 6 is smaller than 5 */
  //margin-top: 0.35em; /* I added this but removed it. It reduces the distance between the listed items */ 
  

  a[rel="permalink"]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  a + a {
    opacity: 0.5;
  }
}

/* Mine: to design the subtitle in the list of posts that have subtite tag in the YAML */
.archive__item-subtitle {
  font-weight: 400;
  font-size: 0.9em;
  color: #444;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  font-style:italic;
}
/*end of Mine */


/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;      /* margin of the excerpt in each item, originally 0. You can change it to margin: 10px 10px 0px; */
  font-size: $type-size-6; /* $type-size-6; equals to 0.75em or 16pxl, Size of the excerpt of a post in list of posts. 6 is smaller than 5 */
  font-weight: 400;
  line-height: 1.6;
  
  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

.archive__item-teaser {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   List view
   ========================================================================== */

.list__item {
  .page__meta {
    margin: 0 0 4px; /* the gap before, on the left and below of the meta (i.e. the posting date and reading time) */
    font-size: 0.6em;
  }
}

/*
   Grid view
   ========================================================================== */

.archive {
  .grid__wrapper {
    /* extend grid elements to the right */

    @include breakpoint($large) {
      margin-right: -1 * $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
      margin-right: -1 * $right-sidebar-width;
    }
  }
}

.grid__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(5 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(3 of 12);

    &:nth-child(2n + 1) {
      clear: none;
    }

    &:nth-child(4n + 1) {
      clear: both;
    }

    &:nth-child(4n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n + 4) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }

  .page__meta {
    margin: 0 0 4px;
    font-size: 0.6em;
  }

  .page__meta-sep {
    display: block;

    &::before {
      display: none;
    }
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 120px;
    }
  }
}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;

  .archive__item-title {
    margin-bottom: 0;
  }
}

.feature__item {
  position: relative;
  margin-bottom: 2em;
  font-size: 1.125em;

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(4 of 12);

    &:nth-child(3n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(3n + 2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(3n + 3) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  .archive__item-body {
    padding-left: gutter(1 of 12);
    padding-right: gutter(1 of 12);
  }

  a.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &--left {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(7 of 12);
      }
    }
  }

  &--right {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        float: right;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: left;
        width: span(7 of 12);
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
      }
    }
  }

  &--center {
    position: relative;
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.125em;

    .archive__item {
      float: left;
      width: 100%;
    }

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    a.btn::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

/* Place inside an archive layout */

.archive {
  .feature__wrapper {
    .archive__item-title {
      margin-top: 0.25em;
      font-size: 1em;
    }
  }

  .feature__item,
  .feature__item--left,
  .feature__item--center,
  .feature__item--right {
    font-size: 1em;
  }
}

/*
   Wide Pages
   ========================================================================== */

  .wide {
  .archive {
    @include breakpoint($large) {
      padding-right: 0;
    }

    @include breakpoint($x-large) {
      padding-right: 0;
    }
  }
}

/* Place inside a single layout */

.layout--single {
	.feature__wrapper {
		display: inline-block;
	}
}

/* Mine: To crop teaser images at the top and the bottom to save vertical space in the blog post list */
// .thumbnail-container {
//   max-width: 100%;
//   overflow: hidden;
//   border-radius: 5px;
//   margin-bottom: 25px;
// }
// .thumbnail-container img {
//   margin-top: -4%; //-11.5%;
//   margin-bottom: -4%; //-11.5%;
// }

/* Updated the above for:
A consistent image height for all teasers (so the list layout stays balanced).
The image to fill the container, cropping gracefully rather than stretching. */
.thumbnail-container {
  width: 100%;
  height: 200px; /* Adjust this value to your preferred preview height */
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
  position: relative;
}

.thumbnail-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This keeps the image proportional but crops edges */
  display: block;
}